<style>
    
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
    }

    nav navleft {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 20px;
    }

    nav navright {
        display: flex;
        justify-content: flex-end;
        margin-top: -15px;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: rgba(0,0,0,0.87);
    }
    
    a:hover {
        text-decoration: underline;
    }

    .signin-button {
        border-width: 0px;
        background-color:#4285f4;
        width: 75px;
        height: 30px;
        border-radius: 3px;
        margin: -5px 8px 0px 0px;
    }
    
    .signin-text {
        font-family: arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: white;
        margin: auto;
    }

    .signin-text:hover {
        text-decoration: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 900px;
        margin
    }  

    .Searchbar{
        width: 400px;
        height: 40px;
        border-width: 1px;
        border-radius: 50px;
        border-style: solid;
        border-color: rgba(201, 202, 201, 0.973);
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .Searchbar:hover {
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        border-color: rgba(223,225,229,0);
    }

    .GoogleSearch-button{
        border-width: 0px;
        background-color:#f2f2f2;
        width: 127.367px;
        height: 36px;
        border-radius: 4px;
        font-family: arial, sans-serif;
        font-size: 14px;
        color: rgb(68, 68, 70);
        margin: 30px 5px 0px 0px;
        }

    .GoogleSearch-button:hover {
        border-width: 1px;
        border: solid rgb(206, 206, 207) .5px;
        }


    .Lucky-button{
        border-width: 0px;
        background-color:#f2f2f2;
        width: 142.467px;
        height: 36px;
        border-radius: 4px;
        font-family: arial, sans-serif;
        font-size: 14px;
        color: rgb(68, 68, 70);
        margin: 30px 0px 0px 5px;
    }

    .Lucky-button:hover {
        border-width: 1px;
        border: solid rgb(206, 206, 207) .5px;
    }


    footer {
        background-color: #f2f2f2;
        position:fixed;
        bottom: 0;
        width: 100%;  
        height: 40px;
    }

    footerleft {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 15px;
    }

    footerright {
        display: flex;
        justify-content: flex-end;
        margin-top: -20px;
        margin-right: 20px;
    }

    .grey {
        font-family: arial, sans-serif;
        font-size: 13px;
        color: rgba(0,0,0,0.87);
    }
    
    .lightgrey {
        color: rgba(143, 138, 138, 0.87);
    }

    .center {
        margin-left: 25%;
    }

    .mag {
        transform: translate(50%,-420%);
    }

    .mic {
        transform: scale(.07) translate(930%,-1260%);
    }

    footerleft, footerright {
        font-size: 15px;
    }

</style>
